@model MvcCv.Models.Entity.TblEgitimlerim
@{
    ViewBag.Title = "EgitimDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h3 style="color:darkseagreen"> Eğitim Bilgisi Düzenleme Sayfası</h3>
<form method="post">

    <br />

    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "color:darkgreen" })

    <br />

    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })

    <br />

    @Html.Label("Alt Başlık2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })

    <br />

    @*<input type="date" class="form-control" name="Tarih" />*@
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })

    <br />

    @Html.Label("Genel Not Ortalaması : (GNO)")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:darkred" })

    <br />

    <button class="btn btn-outline-secondary">Kaydet</button>
    <a href="/Egitim/Index/" class="btn btn-outline-primary">Geri Dön</a>

</form>
