@model MvcCv.Models.Entity.TblDeneyimlerim 

@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3 style="color:darkblue">Deneyim Güncelleme Sayfası</h3>
<form method="post">
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label(" Alt Başlık")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-outline-info">Güncelle</button>
    <a href="/Deneyim/Index/" class="btn btn-outline-warning">Geri Dön</a>

</form>
