@using MvcCv.Models.Entity
@model List<TblHakkimda>

@{
    ViewBag.Title = "Hakkımda Profil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm rounded-3">
        <div class="card-header bg-info text-white">
            <h4 class="mb-0">Hakkımda Profili Düzenle</h4>
        </div>
        <div class="card-body">
            <form method="post">
                @foreach (var item in Model)
                {
                    <div class="mb-3">
                        @Html.Label("Ad", new { @class = "form-label" })
                        <input type="text" name="Ad" value="@item.Ad" class="form-control" placeholder="Adınızı girin" />
                    </div>

                    <div class="mb-3">
                        @Html.Label("Soyad", new { @class = "form-label" })
                        <input type="text" name="Soyad" value="@item.Soyad" class="form-control" placeholder="Soyadınızı girin" />
                    </div>

                    <div class="mb-3">
                        @Html.Label("Adres", new { @class = "form-label" })
                        <input type="text" name="Adres" value="@item.Adres" class="form-control" placeholder="Adresinizi girin" />
                    </div>

                    <div class="mb-3">
                        @Html.Label("Telefon", new { @class = "form-label" })
                        <input type="text" name="Telefon" value="@item.Telefon" class="form-control" placeholder="Telefon numaranızı girin" />
                    </div>

                    <div class="mb-3">
                        @Html.Label("Mail", new { @class = "form-label" })
                        <input type="email" name="Mail" value="@item.Mail" class="form-control" placeholder="Mail adresinizi girin" />
                    </div>

                    <div class="mb-3">
                        @Html.Label("Açıklama", new { @class = "form-label" })
                        <textarea rows="5" class="form-control" name="Aciklama" placeholder="Kendiniz hakkında kısa bir açıklama">@item.Aciklama</textarea>
                    </div>
                }

                <div class="d-flex justify-content-center">
                    <button type="submit"  class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>
